<div id="main-home">
    <header id="home-header">
        <div id="navbar">
            <ul id="nav-links">
                <li><a href="#about">About Me</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact Me</a></li>
                <li><a href="#resume">Resume</a></li>
            </ul>
        </div>
        <div id="page-title">
            <h1>Portfolio</h1>
        </div>
    </header>

    <section id="about">
        <div id="about-area">
            <img id="profile-image" src="/images/homeImages/profilePic.png" alt="profile picture">
            <div id="about-me">
                <h2 id="about-title">About Me</h2>
                <p id="about-desc">I am currently a student at Victor Valley College and I am 
                    working towards a bachlors in Computer Science. I have a few
                    years of experinece programming in Python, HTML, and CSS.</p>
            </div>
        </div>
    </section>

    <section id="projects">
        <div id="projects-area">
            <h2 id="project-title">Projects</h2>
            <div class="project-heads"> 
                {{!-- change href to project names all lowercase and "-" for spaces --}}
                <a class="project-name" href="/project/first-project">First project</a>
            </div>
            <div class="project-heads">
                <a class="project-name" href="/project/second-project">Second project</a>
            </div>
            <div class="project-heads">
                <a class="project-name" href="/project/third-project">Third project</a>
            </div>
        </div>
    </section>

    <section id="contact">
        <div id="contact-area">
            <h2 id="contact-title">Contact Me</h2>
            <p id="contact-email">Email: josej456@gmail.com</p>
            <p id="contact-phone">Cellphone: 980-421-2380</p>
        </div>
    </section>

    <section id="resume">
        <div id="resume-area">
            <h2 id="resume-title">Resume</h2>
            <article id="resume-text">
                <h2>Resume</h2>
                <p>a resume for my self this is just a placeholder for now</p>
                <h3>Skills</h3>
                <ul>
                    <li>Time managment</li>
                    <li>orginize</li>
                </ul>
            </article>
        </div>
    </section>
    
</div>
<script src="/js/home.js"></script>