<div id="project-page">
    <section id="project-header">
    <div id="nav">
        <a id="nav-back" href="/">back</a>
    </div>

    {{!-- <section id="project-header"> --}}
        <h2 id="project-header-title">Project example</h2>
    </section>

    <section id="project-description">
        <div id="description">
            <p id="description-text">
                This is a random descritpion where it need to describ the project
                on it's own page and what is expected of the project. Here will 
                also talk about how the project works and what to expect.
            </p>
        </div>
    </section>

    <section id="project-images">
        <h2 class="project-titles" id="project-images-title">Images</h2>
        <img id="project-img" src="/images/homeImages/city_background.jpg" alt="Images of project">
    </section>

    <section id="project-code">
        <h2 class="project-titles" id="project-code-title">Code</h2>
        <pre id="code">
            <code id="code-text">
                var i = "code";
                console.log(i);
            </code>
        </pre>
    </section>

    <section id="project-links">
        <h2 class="project-titles" id="project-links-title">Links</h2>
        <ul id="links-list">
            <li><a href="#">randomlink.com</a></li>
        </ul>
    </section>
</div>